// src/assets/sass/main.scss
@import '~bulma/bulma';

$color_1: #2c3e50;
$color_2: #42b983;
$font_family_1: 'Avenir', Helvetica, Arial, sans-serif;

#app {
	font-family: $font_family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: $color_1;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	border: $color_2;
	border-style: inset;
}
a {
	color: $color_2;
}
img {
	max-width: 80%;
}
span {
	>button.remove-button {
		float: left;
	}
}
/* .fade-leave-active below version 2.1.8 */
.fade {
	&-enter, &-leave-to { opacity: 0 }
	&-leave, &-enter-to { opacity: 1 }
	
    &-enter-active,
	&-leave-active {
		position: absolute;
		width: 100%;
		transition: opacity 200ms ease-in-out;
	}
	
	&-enter-active { transition-delay: 100ms }
}
